/*
*Navigator Bar手風琴效果
*Ref：https://www.codingnepalweb.com/responsive-side-navigation-bar-in-html-css-javascript/
*/

/* Google Font Link */
//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: "Poppins" , sans-serif;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #181818;// #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 15;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  margin: -5px -10px;
}
.sidebar li:hover .tooltip{  
  opacity: 1;
/*  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);*/
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}


// @media (max-width: 420px) {
//   .sidebar li .tooltip{
//     display: none;
//   }
// }



/*
*Navigator Bar手風琴效果
*Ref：https://www.codingnepalweb.com/responsive-side-navigation-bar-in-html-css-javascript/
*
*多重選單
*Ref：https://azouaoui-med.github.io/angular-pro-sidebar/demo/#
*/

/*------------------------------default theme---------------------------------*/
$asus-stand-ui-fff:#fff;
$asus-stand-ui-181818:#181818;
$asus-stand-ui-006ce1:#006CE1;
$asus-stand-ui-cdcdcd:#CDCDCD;

/*------------------------------mixin---------------------------------*/
@mixin menu_text{
  color: $asus-stand-ui-181818;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

/*------------------------------SCSS---------------------------------*/
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 88px;
  background: $asus-stand-ui-fff;
  padding: 6px 14px;
  z-index: 10;
  transition: all 0.5s ease;

  .sidebar-content {
    height: 100%;

    #search input {
      font-size: 15px;
      color: #FFF;
      font-weight: 400;
      outline: none;
      height: 50px;
      width: 80%;
      border: none;
      border-radius: 12px;
      transition: all 0.5s ease;
      background: $asus-stand-ui-cdcdcd;
      opacity: 1;
    }

    #favorites {

      &.active {
        .tooltip {//我的最愛清單顯示時，不顯示tooltip避免遮住控制板
          opacity: 0;
        }
      }

      #favorite_list {
        display: none;
      }      

      #favorite_list {
        //display: block;
        position: absolute;
        background-color: $asus-stand-ui-fff;
        border-style: outset;
        width: 300px;
        height: 500px;
        z-index: 15;
      }

      a {
        position: static;
      }
    }

    ul {
      padding-left: 0px;
      height: 55%;
      overflow-y: scroll;
      overflow-x: hidden;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
    }

    li {
      list-style: none;

      i.menu-icon { //選單圖示
        color: $asus-stand-ui-181818;
        height: 50px;
        min-width: 50px;
        font-size: 28px;
        text-align: center;
        line-height: 60px;
      }

      a {
        position: relative;
        display: flex;
        border-radius: 5px; //12px;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        background: $asus-stand-ui-fff;
        //width: 200px;

        .links-name {
          @include menu_text();
        }
      }

      a:hover {
        background: $asus-stand-ui-006ce1; // #FFF;

        i,
        .links-name,
        &::before,
        &::after /*menu箭頭*/ {
          transition: all 0.5s ease;
          color: $asus-stand-ui-fff;
        }
      }

      &.simple-menu-li {
        ul {
          overflow-y: hidden;
        }        
      }

      .sidebar-submenu {
        @include menu_text();        
      }
    }

    app-sub-menu .link-content > .favorite {  
      position: absolute;
      top: 25px;
      left: 16px;      
    }    

    .bx-bookmarks,
    .bx-search {
      position: absolute;
      //top: 50%;
      left: 12px;
      //transform: translateY(-50%);
      font-size: 22px;
      background: $asus-stand-ui-fff; // #1d1b31;
      color: $asus-stand-ui-181818; // #FFF;
    }

    .bx-search:hover {
      background: #FFF;
      color: #11101d;
    }

    .sidebar-dropdown {

      > a::after,
      ul li a {
        color: $asus-stand-ui-181818;
      }

      a:hover::after {
        transition: all 0.5s ease;
        color: $asus-stand-ui-fff
      }
      //&連接符：元素有.sidebar-submenu也有.active
      &.active > .link-content > a:after { //sidebar-dropdown為active(展開)就旋轉90度箭頭向下
        transform: rotate(90deg);
        right: 15px;
      }

      .sidebar-submenu {
        //隱藏子項目
        overflow: hidden;

        li {
          padding-left: 25px;
          font-size: 13px;
        }
      }

      .sidebar-submenu-close {
        position: absolute;
        z-index: 30;
        left: 100%;
        top: -100px;
        margin-top: 0;
        padding: 10px 20px;
        border-radius: 0 6px 6px 0;
        display: none;
        pointer-events: none;
        transition: 0s;

        li {
          list-style: none;
          transition: all 0.4s ease;
          margin: 2px 0;
        }
      }
    }

    .link-content {
      width: 100%
      // display: flex;
      // flex-direction: row;

      // &::after {
      //   flex: 1;
      // }
    }
  }

  &.open {
    width: 250px;

    .sidebar-content {

      #search {
        padding: 0 20px 0 50px;
        width: 100%;
      }

      li {

        &.simple-menu-li {
          display: flex;
          flex-direction: row;
        }

        a {
          .links-name {
            opacity: 1;
            pointer-events: auto;
          }
        }

        // .favorite {
        //   display: block;
        // }

        .sidebar-submenu {
          opacity: 1;
          pointer-events: auto;

          ul {
            overflow-x: scroll;
            width: 100%;
          }

          .submenu-li {
            display: flex;
            flex-direction: row;
          }
        }
      }

      a {
        width: 200px;
      }

      li.sidebar-dropdown {
        >.link-content {
          a {
            justify-content: space-between;
          }  

          a::after { //加上子選單箭頭
            font-family: "FontAwesome";
            font-weight: 900;
            content: "\f105";
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            background: 0 0;
            margin-left: 10px;
            transition: transform .3s ease;          
            margin-left: auto;//flex child align right
          } 
        }  
        

      }
    }
  }

  &.close {
    .sidebar-content {

      li:hover {
        & > .sidebar-submenu-close {
          top: 25px;
          display: block;
          pointer-events: auto;
          z-index: 15;

          .links-name {
            font-size: 18px;
            opacity: 1;
            display: block;
          }
        }
      }

      .sidebar-submenu-close {
        //display: none;

        ul {
          width: 200px;
          overflow-x: hidden;
          overflow-y: hidden;

          li {

            &.sidebar-dropdown {
              > .link-content {
                a {
                  justify-content: start;
                }

                > a::after { //加上子選單箭頭
                  font-family: "FontAwesome";
                  font-weight: 900;
                  content: "\f105";
                  display: inline-block;
                  font-style: normal;
                  font-variant: normal;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  text-align: right;//箭頭靠右
                  transition: transform .3s ease;
                  margin-left: auto;//flex child align right
                }
              }
            }

            a {
              border-style: outset;
              width: 200px;
            }
          }

          .tooltip {
            display: none;
          }
        }
      }
    }
  }
}

.btn-link {
  --bs-btn-color: red;
}

.active-favorite {
  color: red !important;
}

.text-ellipsis {
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.home-section{
  position: relative;
  background: $asus-stand-ui-181818;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 1;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

